.canvas {
    shape-rendering:crispEdges;
}

.bar rect.new {
    fill: steelblue;
    opacity: 0.7;
    stroke-opacity: 0;
}

.bar rect.old {
    fill: grey;
    opacity: 0.7;
    stroke: white;
}


.bar text {
    fill: white;
    font: 10px sans-serif;
    text-anchor: middle;
}

.axis text{
    font: 10px sans-serif;
    fill: black;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}